html {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: white;
}

a {
	color: #2FC2EF;
	text-decoration: none;
}

.tweet-list {
	position: absolute;
	padding: 0;
	margin: 0;
	bottom: 60px;
	left: 0;
	right: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.tweet {
	list-style: none;
	padding: 5px 12px 5px 69px;
	border: 1px solid #e8e8e8;
	border-width: 0 0 1px;
	background-color: white;
	min-height: 48px;
}

.header {
	position: relative;
}

.avatar {
	position: absolute;
	top: 0;
	left: -57px;
	width: 48px;
	height: 48px;
	border-radius: 4px;
}

.full-name {
	font-weight: bold;
}

.p-nickname {
	color: #8899a6;
}

.entry-title {
	margin: 0 5px 0 0;
	word-wrap: break-word;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	font-size: x-large;
}

.hashtag {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0 0 20px 40px;
}

.powered-by {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0 40px 20px 0;
}